<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866936923949-qk27h77jhnscvrjm43mru7dieq6q4627.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866936923949-qk27h77jhnscvrjm43mru7dieq6q4627</string>
	<key>API_KEY</key>
	<string>AIzaSyB9g5RZK6NMwk9XjvIx0f5MBBoNeNKAdOo</string>
	<key>GCM_SENDER_ID</key>
	<string>866936923949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.ramfirstt.MyApp</string>
	<key>PROJECT_ID</key>
	<string>myapps-a4daa</string>
	<key>STORAGE_BUCKET</key>
	<string>myapps-a4daa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866936923949:ios:67c6a3386675eff97c55a4</string>
</dict>
</plist>